{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>TechNexus</h3>
                <p class="lead" style="font-weight: 350;">Hi, We are TechNexus. Currently Pursuing Bachelors in
                    Information
                    Technology. Our Main Focus is on Machine Learning, Deep Learning. We are Also
                    Interested in Blockchain and Web Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:shahnawaz6499@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40"></a> :
                shahnawaz6499@gmail.com<br><br>
                <a target="_blank" href='https://github.com/Shahnawaz4518'><img
                        src="https://cdn-icons-png.flaticon.com/512/733/733553.png" height="40" width="40"></a> :
                Shahnawaz4518<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/shahnawaz-khan2512'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                Shahnawaz<br><br>
                <a target="_blank" href='https://www.instagram.com/shahnawazk_25/'><img
                        src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" height="40" width="40"></a> :
                shahnawazk_25<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shahnawaz Khan</h3>
                <p class="lead" style="font-weight: 350;">Hi, We are TechNexus. Currently Pursuing Bachelors in
                    Information
                    Technology. Our Main Focus is on Machine Learning, Deep Learning. We are Also
                    Interested in Blockchain and Web Development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:shahnawazkhan251200@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/512/732/732200.png" height="40" width="40"></a> :
                shahnawazkhan251200@gmail.com<br><br>
                <a target="_blank" href='https://github.com/Shahnawaz4518'><img
                        src="https://cdn-icons-png.flaticon.com/512/733/733553.png" height="40" width="40"></a> :
                Shahnawaz4518<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/shahnawaz-khan2512'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                Shahnawaz<br><br>
                <a target="_blank" href='https://www.instagram.com/shahnawazk_25/'><img
                        src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" height="40" width="40"></a> :
                shahnawazk_25<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
